@use 'variables' as vars;

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0; 
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "Arial", sans-serif;
    font-size: 20px;
    color: vars.$font-color ;
    background: #e6e6f2;
    background: radial-gradient(circle,rgba(170, 170, 181, 1) 0%, rgba(143, 145, 186, 1) 100%);
}

a {
    color: vars.$font-color;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container, .page-section, .page-footer {
    outline: 1px solid lightblue;
}

#root {
    width: 100%;
    height: 100%;   
}

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
}
