
.chat-section {
    flex-grow: 1;
}

.chat-section__container {
    padding: .5rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    height: 100%;
}

.chat-section__empty {
    width: fit-content;
    display: block;
    margin: auto;
    align-self: center;
}

.chat-section__element {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.chat-section__element--own {
    margin-left: auto;
}

.chat-section__name {
    justify-self: start;
    font-size: .7rem;
}

.chat-section__text {
    font-size: .8rem;
    padding: .2rem;
    display: inline-block;
    width: fit-content;
    margin: 0;
    border: 1px #94BBE9 solid;
    border-radius: .5rem;
    background: #94BBE9;
    background: linear-gradient(0deg,rgba(160, 142, 230, 1) 0%, rgba(148, 187, 233, 1) 100%);
}