@use 'variables' as vars;

.users-section {
    // width: 25%;
    // min-width: 25%;
    // max-width: 50%;
    display: flex;
}

.users-section__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.users-section__element {
    display: flex;
    align-items: stretch;
    height: fit-content;
    min-height: 2rem;
    border: 1px solid rgb(148, 187, 233);
    border-top: none;
    border-right: none;
}

.users-section__element:last-child {
    border: 1px solid rgb(148, 187, 233);
    border-right: none;
}

.users-section__name {
    cursor: pointer;
    font-size: .8rem;
    margin: 0;
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: vars.$font-color;
    border: none;
}

.users-section__name:hover {
    outline: 2px solid #9F9FE0;
    transition-duration: .3s;
}

.users-section__name--current {
    color: #07078C;
    background-color: #9F9FE0;
}